// 色
$gray: #c0cdd8;
$light-gray: #f0f6fb;
$primary: #1D65F1;
$success: #1DF13F;
$danger: #F1501D;
$warning: rgb(242, 89, 33);
$red-gradient: linear-gradient(325.76deg, #FF2D2D 2.78%, #FF8717 80.65%, rgba(255, 161, 20, 0.4) 133.92%);
